footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 0px;   
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items:center;
  }
